<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="pagesize" value="10" />
    <add key="conStr" value="Data Source=CTL-G4G41T3\SQLEXPRESS;Initial Catalog=SugarcaneDB;User ID=sa;Password=123456789" />
    <!--<add key="conStr" value="Data Source=10.195.10.85\;Initial Catalog=edocumentDB_Dev;User ID=sa;Password=ax@pt2009" />-->
  </appSettings>
  <connectionStrings>
    <add name="Cristalla_AXBI_ConnectionString" connectionString="Data Source=CT-AXBI; Initial Catalog=FarmerDB;User ID=sa;password=Crist@ll@" providerName="System.Data.SqlClient" />
    <add name="Cristalla_AxDb_Pro_ConnectionString" connectionString="Data Source=CTL-AXDB; Initial Catalog=Cristalla_Pro;User ID=sa;password=ax@pt2009" providerName="System.Data.SqlClient" />
    <add name="Cristalla_AxDb_Pro_Repication_ConnectionString" connectionString="Data Source=CT-AXBI; Initial Catalog=Cristalla_pro_Replication;User ID=sa;password=Crist@ll@" providerName="System.Data.SqlClient" />
    <add name="Cristalla_AxDb_ProView_ConnectionString" connectionString="Data Source=CTL-AXDB; Initial Catalog=Cristalla_Pro_View;User ID=sa;password=ax@pt2009" providerName="System.Data.SqlClient" />
    <add name="Connect_MyPosition_And_TruckPosition" connectionString="Data Source=CT-AXBI;Initial Catalog=SugarcaneHarvesterDB;User ID=sa;password=Crist@ll@" providerName="System.Data.SqlClient" />
    <add name="Cristalla_ReportFin" connectionString="Data Source=10.4.89.178; Initial Catalog=ReportFin; User ID=sa;password=Tcc@2018" providerName="System.Data.SqlClient" />
    <add name="PostgreSQLConnection" connectionString="Server=10.4.89.188;Port=5432;User Id=postgres;Password= Crist@ll@prog!@#;Database=sugarcane_62_63;" providerName="Npgsql" />
    <add name="PostgreSQLConnectiondb" connectionString="Server=10.4.89.188;Port=5432;User Id=postgres;Password= Crist@ll@prog!@#;Database=sugarcanedb;" providerName="Npgsql" />
    <add name="Cristalla_ProConnectionString" connectionString="Data Source=CTL-AXDB;Initial Catalog=Cristalla_Pro;User ID=sa;Password=ax@pt2009" providerName="System.Data.SqlClient" />
    <add name="MSSQLConnectiondb" connectionString="Server=CTL-G4G41T3\\SQLEXPRESS;Port=5432;User Id=sa;Password= 123456789" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
      <!--<compiler language="c#;cs;csharp" extension=".aspx.cs" type="System.Runtime.CompilerServices.Unsafe Version=4.0.4.1, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    </compilers>
  </system.codedom>
</configuration>
